.DS_Store
package-lock.json
node_modules
/dist
/lambda-server

# local env files
.env.local
.env.*.local

# Log files
*.log*

# Jest
__coverage__
__report__

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Netlify CLI
.netlify/config.json
